html, body{
	background-color: #f7f5f6;
	font-family: 'Days One', sans-serif;
	font-size: 14px;
}
h1{
	text-align: center;
	margin-top:100px;
	color: #363636;
}

blockquote{
	color: #fff;
	font-size: 30px;
}

.nom_in{
	font-family: 'Days One', sans-serif;
	color: #fff;
	/*font-size: 100px;*/
	font-size: calc(4em + 1vw);
	margin-top: 15%;
	text-align: center;
}
.nom_inSub{
	font-family: 'Days One', sans-serif;
	color: #fff;
	/*font-size: 50px;*/
	font-size: calc(2em + 1vw);
	text-align: center;
}

.contRed{
	margin: 0 auto;
	width: 250px;
	height: 50px;
}
.ic{
	border-radius: 50%;
	width: 40px;
	padding: 4px;
	border: 1px solid #fff;
	color: #fff;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.it{
	margin-top: 20px;
	margin-left: 20px;
}
.fobl{
	color: #fff;
}
.tituloCont{
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
}
.text-des{
	text-align: justify;
	line-height: 1.8em;
}
.ContPort{
	box-shadow: 0 2px 13px 1px rgba(0,0,0,.25); 
	width: auto; 
	height: 450px; 
	margin:15px;
	padding-top: 10px;
}
.cont_d{
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 1px rgba(0,0,0,.25);
	/*background-color: #cdcdcd;*/
	text-align: center; 
	margin-bottom: 20px;
}
.text_d{
	margin-top: 1em;
	font-size: 11px;
}
.ContTecno{
	/*box-shadow: 0 2px 13px 1px rgba(0,0,0,.25);*/ 
	width: auto; 
	/*min-height: 350px;*/ 
	min-height: 460px; 
	background: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	margin-bottom: 10px; 
}
.ContSuperior{
	background-image: url("../diseno/img1.jpg");
	margin:0px;
	min-height: 710px;
	background-position: 50%;
	background-attachment: fixed;
	/*position: relative;
    overflow: hidden;*/
}
.ContTec{
	background-image: url("../diseno/tecno.jpg");
	margin:0px;
	min-height: 710px;
	background-position: 50%;
	background-attachment: fixed;
}
.ContContac{
	background-image: url("../diseno/map.png");
	margin:0px;
	height: 710px;
	background-position: 50%;
	background-attachment: fixed;
}
.ContInf{
	background-image: url("../diseno/infW.jpg");
	margin:0px;
	height: 710px;
	background-position: 50%;
	background-attachment: fixed;
}
#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
color:#000000 !important;
font-size:0.2em;
}
